@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTProRegular.otf") format(OpenType);
  src: url("../../assets/font/AvenirNextLTProRegular.otf") format(truetype);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTProBold.otf") format(OpenType);
  src: url("../../assets/font/alternativefiles/AvenirNextLTProBold.ttf") format(truetype);
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Avenir";
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: #323232;
  transition: all 0.5s 0.5s ease-in-out;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

ul,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding: 0;
}

hr {
  border: 1px solid #e1e1e1;
  margin: 1.6rem 0;
}

.container {
  margin: 0 auto;
  padding: 0 1.6rem 0 1.6rem;
  max-width: 70rem;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 3.6rem 0 3.6rem;
    max-width: 78rem;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 128rem;
  }
}

.VideoDes__title {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 700;
  padding-bottom: 1.6rem;
  margin-bottom: 1.6rem;
  border-bottom: 2px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .VideoDes__title {
    font-size: 3.3rem;
    border-bottom: none;
  }
}
.VideoDes__info {
  display: flex;
  justify-content: space-between;
}
.VideoDes__info-left, .VideoDes__info-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #afafaf;
  font-size: 1.4rem;
}
@media screen and (min-width: 768px) {
  .VideoDes__info-left, .VideoDes__info-right {
    flex-direction: row;
    gap: 2rem;
  }
}
.VideoDes__info-left-item, .VideoDes__info-right-item {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.VideoDes__info-left-item-channel, .VideoDes__info-right-item-channel {
  font-weight: 700;
  color: #323232;
}
.VideoDes__description {
  margin-bottom: 3.4rem;
}