@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/globals' as *;
.textContainer {
  display: flex;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
  }
  &__videoDesAndComments {
    flex-grow: 2;
  }
}
