@use './partials/fonts' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;
@use './partials/globals' as *;

.textContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3.4rem !important;
  @include desktop {
    flex-direction: row;
    gap: 2.4rem;
  }
  &__videoDesAndComments {
    padding-right: 1.6rem;
    @include desktop {
      border-right: 2px solid $divider-color;
      width: 80%;
    }
  }
  &__videos {
    &-title {
      color: $label-color;
    }
  }
}
