@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTProRegular.otf") format(OpenType);
  src: url("../../assets/font/AvenirNextLTProRegular.otf") format(truetype);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTProBold.otf") format(OpenType);
  src: url("../../assets/font/alternativefiles/AvenirNextLTProBold.ttf") format(truetype);
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Avenir";
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: #323232;
  transition: all 0.5s 0.5s ease-in-out;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

ul,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding: 0;
}

hr {
  border: 1px solid #e1e1e1;
  margin: 1.6rem 0;
}

.container {
  margin: auto;
  padding: 0 1.6rem 0 1.6rem;
  max-width: 70rem;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 3.6rem 0 3.6rem;
    max-width: 78rem;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 128rem;
  }
}

.comment {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin: auto;
  position: relative;
}
@media screen and (max-width: 320px) {
  .comment {
    flex-direction: column;
  }
}
.comment__imgTxtContainer {
  display: flex;
  gap: 2rem;
  margin: auto;
  width: 100%;
}
.comment__hr {
  margin: 0 0 3rem 0;
  width: 100%;
}
.comment__img {
  background-color: #e1e1e1;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  align-self: flex-start;
}
@media screen and (min-width: 768px) {
  .comment__img {
    width: 4rem;
    height: 4rem;
  }
}
.comment__TxtWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comment__TxtWrapper--userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.comment__TxtWrapper--userInfo-userN {
  font-weight: 700;
}
.comment__TxtWrapper--userInfo-date {
  color: #afafaf;
}
.comment__likeCounter {
  align-self: start;
  margin-top: 2rem;
  color: #afafaf;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.comment__likeCounter-heart {
  opacity: 0.3;
}
.comment__commentIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  border-top: 2px solid #e1e1e1;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: #afafaf;
}
@media screen and (min-width: 768px) {
  .comment__commentIcons {
    padding: 0 1rem 0 2rem;
  }
}
.comment__commentIcons-wrapper {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.5rem;
  border-radius: 0.5rem;
}
@media screen and (min-width: 768px) {
  .comment__commentIcons-wrapper {
    padding: 0.4rem 2rem;
  }
}
.comment__commentIcons-wrapper:hover {
  cursor: pointer;
  background-color: #fafafa;
}
.comment__commentIcons-icon {
  width: 3rem;
  margin-right: 0.7rem;
}
.comment__more {
  font-size: 1rem;
  color: #afafaf;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 13rem;
  height: 18rem;
  padding: 1rem 0.7rem;
  background-color: #fafafa;
  border: 1px solid #afafaf;
  border-radius: 1rem;
  position: absolute;
  bottom: 5rem;
  right: 0;
  box-shadow: 0px 0.5rem 1rem 0px rgba(62, 62, 62, 0.2);
  z-index: 999;
}
@media screen and (min-width: 768px) {
  .comment__more {
    height: 12rem;
  }
}
.comment__more-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.2rem;
  border-radius: 0.5rem;
}
.comment__more-item:hover {
  cursor: pointer;
  background-color: #e1e1e1;
}

#repostm {
  display: none;
}
@media screen and (min-width: 768px) {
  #repostm {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  #repost {
    display: none;
  }
}

.actOnComment {
  display: none;
}