@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTProRegular.otf") format(OpenType);
  src: url("../../assets/font/AvenirNextLTProRegular.otf") format(truetype);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTProBold.otf") format(OpenType);
  src: url("../../assets/font/alternativefiles/AvenirNextLTProBold.ttf") format(truetype);
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Avenir";
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: #323232;
  transition: all 0.5s 0.5s ease-in-out;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

ul,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding: 0;
}

hr {
  border: 1px solid #e1e1e1;
  margin: 1.6rem 0;
}

.container {
  margin: auto;
  padding: 0 1.6rem 0 1.6rem;
  max-width: 70rem;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 3.6rem 0 3.6rem;
    max-width: 78rem;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 128rem;
  }
}

.formSection {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  width: 100%;
  margin: auto;
  gap: 2rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 320px) {
  .formSection {
    flex-direction: column;
  }
}
.formSection__commentsN {
  font-weight: 700;
}
.formSection__img {
  width: 3.6rem;
  border-radius: 50%;
  color: #afafaf;
  align-self: start;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .formSection__img {
    width: 4rem;
  }
}
.formSection__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 0.5rem;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .formSection__form {
    font-size: 1.2rem;
  }
}
.formSection__form--label {
  color: #afafaf;
  font-weight: 600;
}
.formSection__form--textBtnWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .formSection__form--textBtnWrapper {
    flex-direction: row;
  }
}
.formSection__form--textArea {
  width: 100%;
  height: 15rem;
  padding: 1.2rem;
  background-color: #fafafa;
  border: 2px solid #e1e1e1;
  border-radius: 4px;
  font-family: inherit;
}
@media screen and (min-width: 768px) {
  .formSection__form--textArea {
    padding: 1.6rem;
    height: 5rem;
  }
}
.formSection__form--textArea:hover, .formSection__form--textArea:active {
  border: 2px solid #0095ff;
}
.formSection__form--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0095ff;
  border: none;
  color: #ffffff;
  width: 100%;
  padding: 1.2rem 5rem;
  border-radius: 4px;
  font-size: 1rem;
  position: relative;
}
.formSection__form--btn:hover {
  cursor: pointer;
  font-weight: 600;
}
.formSection__form--btn-icon {
  position: absolute;
  left: 1rem;
}
@media screen and (min-width: 768px) {
  .formSection__form--btn {
    font-size: 1.2rem;
    width: auto;
    align-self: flex-end;
    height: 5rem;
  }
}