@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTProRegular.otf") format(OpenType);
  src: url("../../assets/font/AvenirNextLTProRegular.otf") format(truetype);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTProBold.otf") format(OpenType);
  src: url("../../assets/font/alternativefiles/AvenirNextLTProBold.ttf") format(truetype);
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Avenir";
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: #323232;
  transition: all 0.5s 0.5s ease-in-out;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

ul,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding: 0;
}

hr {
  border: 1px solid #e1e1e1;
  margin: 1.6rem 0;
}

.container {
  margin: auto;
  padding: 0 1.6rem 0 1.6rem;
  max-width: 70rem;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 3.6rem 0 3.6rem;
    max-width: 78rem;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 128rem;
  }
}

.uploadSection {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 1280px) {
  .uploadSection {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
  }
}
.uploadSection__header {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 700;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 1280px) {
  .uploadSection__header {
    font-size: 3.3rem;
  }
}
.uploadSection__thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}
.uploadSection__thumbnail--txt {
  color: #afafaf;
  font-weight: 600;
  letter-spacing: 1px;
}
.uploadSection__thumbnail--img {
  border-radius: 5px;
  max-width: 90vw;
}
@media screen and (min-width: 768px) {
  .uploadSection__thumbnail--img {
    width: 50rem;
  }
}
.uploadSection__form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .uploadSection__form {
    font-size: 1.2rem;
  }
}
.uploadSection__form--label {
  color: #afafaf;
  font-weight: 600;
  letter-spacing: 1.5;
}
.uploadSection__form--input {
  padding: 1rem;
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  outline: none;
}
.uploadSection__form--input:focus {
  border: 2px solid #0095ff;
}
.uploadSection__form--title {
  margin-bottom: 2rem;
}
.uploadSection__form--textarea {
  height: 100%;
  font-family: inherit;
}
.uploadSection__btnWrapper {
  display: flex;
  gap: 1rem;
  grid-column: 2;
  flex-direction: column-reverse;
  margin-top: 2rem;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .uploadSection__btnWrapper {
    flex-direction: row;
  }
}
.uploadSection__uploadBtn {
  height: 4rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #0095ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  margin-top: 1.6rem;
  position: relative;
}
.uploadSection__uploadBtn:hover {
  cursor: pointer;
  background-color: #0065ad;
}
.uploadSection__uploadBtn-icon {
  position: absolute;
  left: 0.5rem;
}
@media screen and (min-width: 768px) {
  .uploadSection__uploadBtn {
    width: 15rem;
  }
}
.uploadSection__devider {
  display: none;
}
@media screen and (min-width: 768px) {
  .uploadSection__devider {
    display: block;
  }
}
.uploadSection__devider-long {
  margin: 0;
}

#cancel {
  background-color: #ffffff;
  color: #0095ff;
}